<div>


  <mat-toolbar style="padding: 0 30px;">
    <span>My App</span>
    <span class="example-spacer"></span>
    <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon>
  </mat-toolbar>


  <div class="row box-shadow" style="margin: 10px 50px 0 50px;background: #f5e7d5;">
    <mat-card>
      <app-upload></app-upload>
    </mat-card>
  </div>
  <!-- <app-student></app-student> -->
  <div class="row box-shadow" style="margin: 30px 50px;">
    <app-students-list></app-students-list>
  </div>
</div>